@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

html{
    font-size: 62.7%;
}
body{
    background:url(../images/bg-desktop.svg) rgb(103,75,176) no-repeat;
    background-size:cover;
    display: grid;
    grid-template-areas: " header header header header"
                         "about about about about"
                         "footer footer footer footer";
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

/*HEADER*/           
    
.header{
    grid-area: header;
    padding: 6rem 0 6rem 6rem;
}

/*ABOUT*/


.about{
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.about .image{
     display: flex;
    justify-content: center;
}
.about .info{
    display: flex;
    flex-direction: column;
}
.about .info h1{
    font-weight: 600;
    color: white;
    font-size: 45px;
    margin: 40px 60px 30px 40px;
}
.about .info p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 20px;
    margin: 0 7rem 0 4rem;
    line-height: 30px;
}
.about .info .btn{
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin: 40px;
    font-size: 20px;
    transition: 0.5s;
    box-shadow: 2px 4px 10px black;
}
.about .info .btn:hover{
    background-color:hsl(300, 69%, 71%);
}
.about .info a{
    color:hsl(257, 40%, 49%);
}
.about .info a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/*FOOTER*/

.footer{
    grid-area: footer;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.footer .social{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 6rem; 
}
.footer .social a{
    text-align: center;
    line-height: 40px;
    margin: 0 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: solid 2px;
    border-radius: 100%;
    transition: 0.5s;
}
.footer p{
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footer .social a:hover{
    color: rgb(224, 86, 255);
}
